<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugins -->
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="niteco-splitorder-split-quote" type="Niteco\SplitOrder\Plugin\SplitQuote" sortOrder="1"/>
    </type>
</config>
